body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300; /* Thinner font */
    color: #ffffff; /* White text color */
    background: url('git.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.header-container {
    background: url('git-mov.gif') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 40px 20px;
    border-bottom: 1px solid #fff;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid #fff;
}

h1 {
    margin-top: 0;
    font-size: 2.5em;
}

.email-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.about-me,
.experience,
.projects,
.skills,
.contact {
    padding: 40px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 20px auto;
    max-width: 1200px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h2 {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 2em;
    color: #ffffff;
}

.experience-grid,
.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.job,
.project {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    display: inline-block;
}

.contact .social-links a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s;
}

.contact .social-links a:hover {
    color: #fcd535; /* Slight yellow on hover for contrast */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 2px solid #fff;
}

@media (max-width: 768px) {
    .experience-grid,
    .project-grid {
        grid-template-columns: 1fr;
    }
}
